   <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>KHOJ</title>
<!--
Moonlight Template
https://templatemo.com/tm-512-moonlight
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

        <link rel="stylesheet" href="{{url_for('static',filename='css/fontAwesome.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/light-box.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-main.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script src="{{url_for('static',filename='js/cities.js')}}"></script>
        <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
<style>
    .marginTOP
    {
    margin-top:25px;
    }
    .marginTOP2
    {
    margin-top:54px;
    }

    input[type="radio"] {
    -ms-transform: scale(0.4); /* IE 9 */
    -webkit-transform: scale(0.4); /* Chrome, Safari, Opera */
    transform: scale(0s.5);

}
}

</style>
        <script>



         document.getElementById('dateofbirth').value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
}

             var down = document.getElementById('dateofbirth');

        function gfg() {
            var date =
                document.getElementById('date').value;

            var inpDate = new Date(date);
            var currDate = new Date();

            if(inpDate.setHours(0, 0, 0, 0) ==
                      currDate.setHours(0, 0, 0, 0))
            {
                down.innerHTML =
                    "The input date is today's date";
            }
            else {
                down.innerHTML = "The input date is"
                    + " different from today's date";
            }
        }

        </script>
      <style>
        #demo{
        color: white !important;
        font-size:20px !important;
        }
          .clr{
        color: white !important;
        }
        body {
 background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2020/04/w-qjCHPZbeXCQ-unsplash.jpg") !important
 background-color: #cccccc;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 30px; /*Desired height*/
}
.prodleft{

font-size: 25px !important;
}
  .imageM{
    padding-top: 60px !important;

    }
    .imageM2{
    padding-top: 100px !important;

    }

</style>
    </head>

<body>



        <nav>
          <div class="logo">
              <img class="icon" src="{{url_for('static',filename='img/Home.jpeg')}}" width="60%" alt="">
          </div>
          <ul>

            <li><a href="#2"><i class="fa fa-pencil"></i> <em>Car Parts</em></a></li>



          </ul>
        </nav>

        <div class="slides">

            <!-- Slide 4 -->


      <div class="slide" id="2">
            <div class="content fifth-content">
                <div class="container-fluid" align="center">


                    <div class="col-md-12">
                        <div class="row">
                            <form method="post">
                          <div class="col-sm-6" >

                            <div class="row">

                                <div class="col-md-12">
                                     <h3 style="color:white;">Purchase Vehicle Parts</h3>
                                  <fieldset>
                                    <input id="fnamepart" name="fnamepart" type="text" class="form-control"  placeholder="Your full name..." required="" >

                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                    <input name="MobileNopart" type="tel" class="form-control" id="MobileNo" placeholder="MobileNo" pattern="[0-9]{10}" required="" >
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="Type" type="text" class="form-control" id="Type" placeholder="Vehicle type" required="">
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="Vehiclename" type="text" class="form-control" id="Vehiclename" placeholder="Vehicle name" required="">
                                  </fieldset>
                                </div>

                                <div class="clr prodleft">Products available</div>
                                <hr>
                                <div class="col-md-12">

                            </div>
                              <div class="col-md-12">
                                  <fieldset>
                                      <label class="clr">Engine</label>
                          <input name="checkpart1" type="number" class="form-control" id="Lift" min="0" placeholder="0-10" >

                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                      <label class="clr">Tyre</label>
                          <input name="checkpart2" type="number" class="form-control" id="Lift" min="0" placeholder="0-10" >

                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                      <label class="clr">Transmission</label>
                          <input name="checkpart3" type="number" class="form-control" id="Lift" min="0" placeholder="0-10" >

                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                      <label class="clr">Suspensions</label>
                          <input name="checkpart4" type="number" class="form-control" id="Lift" min="0" placeholder="0-10" >

                                  </fieldset>
                                </div>

                              <div class="col-md-12">
                                  <fieldset>
                                      <label class="clr">Brakes</label>
                                    <input name="checkpart1" type="number" class="form-control" id="Lift" min="0" placeholder="0-10" >
                                  </fieldset>
                                </div>


                             </div>
                                   <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="Addresspart" rows="6" class="form-control" id="Description" placeholder="Please enter detailed address"></textarea>
                                  </fieldset>

                                </div>

                                <div class="col-sm-6">
                                  <fieldset>
                                    <button type="submit" id="form-submit21" class="btn">Submit</button>
                                  </fieldset>
                                </div>

                          </div>
                            </form>
                            <div class="col-sm-6">
                                <div class="col-sm-11" style="padding-top:'10px'">

                                    <img class="imageM" src="https://images.unsplash.com/photo-1517524206127-48bbd363f3d7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8bWVjaGFuaWN8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80">

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-11" style="padding-top:'10px'">

                                    <img class="imageM2" src="{{url_for('static',filename='img/tyre.jpeg')}}">

                                </div>
                            </div>










                        </div>

                    </div>
                </div>
            </div>
          </div>


        </div>

        <div class="footer">
          <div class="content">

          </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static',filename='js/vendor/jquery-1.11.2.min.js')}}"><\/script>')</script>

    <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/datepicker.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    <script type="text/javascript">
    $(document).ready(function() {



        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
}

    </script>
</body>
</html>