   <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Servigenics</title>
<!--
Moonlight Template
https://templatemo.com/tm-512-moonlight
-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/fontAwesome.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/light-box.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/templatemo-main.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script src="{{url_for('static',filename='js/cities.js')}}"></script>
        <script src="{{url_for('static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
<style>
    .marginTOP
    {
    margin-top:25px;
    }
    .marginTOP2
    {
    margin-top:54px;
    }

    input[type="radio"] {
    -ms-transform: scale(0.4); /* IE 9 */
    -webkit-transform: scale(0.4); /* Chrome, Safari, Opera */
    transform: scale(0s.5);

}
}

ul {
	width: 400px
	margin-left: auto;
	margin-right: auto;
	}

</style>
        <script>



         document.getElementById('dateofbirth').value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
}

             var down = document.getElementById('dateofbirth');

        function gfg() {
            var date =
                document.getElementById('date').value;

            var inpDate = new Date(date);
            var currDate = new Date();

            if(inpDate.setHours(0, 0, 0, 0) ==
                      currDate.setHours(0, 0, 0, 0))
            {
                down.innerHTML =
                    "The input date is today's date";
            }
            else {
                down.innerHTML = "The input date is"
                    + " different from today's date";
            }
        }

        </script>
        <style>
        .clr{
        color: white !important;
        }
        .homealign{
        text-align: left !important;

        }
        .icon{
        border-radius:50% !important;
        }
        .fonts{
         font-family: Verdana, sans-serif;
    font-size: 18px;
    }
    .image{
    padding-top: 60px !important;
    }
    .Btnlight{
    color: #ffffff !important;
    }
     .iconsize{
    padding-top: 80px !important;
        width:300px !important;
         height:370px !important;
         text-align: right !important;
        }
        </style>
    </head>

<body>

    <div class="sequence">

      <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38"><path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"/><path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"/><path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"/></g></svg>
      </div>

    </div>


        <nav>
          <div class="logo">
              <img class="icon" src="{{url_for('static',filename='img/Home_small.jpeg')}}" width="60%" alt="">
          </div>

          <ul>

              <li><a href="#1"><i class="fa fa-home"></i> <em>Home</em></a></li>
            <li><a href="#2"><i class="fa fa-user"></i> <em>About Us</em></a></li>
            <li><a href="#3"><i class="fa fa-pencil"></i> <em>Contact Us</em></a></li>

          </ul>
        </nav>

        <div class="slides">
          <div class="slide" id="1">

            <div class="content fifth-content">

              <div class="container-fluid">

                  <div class="container col-sm-12 clr">
                       <p class="text-white display-3 fonts" style="font-size: 50px">Servigenics</p><hr>
                       <div class="homealign">
                      <p class="fonts">Servigenics is a car service company which brings to you your nearest mechanic, in times of automobile crisis! Whether you need a mechanic or just parts for your vehicle, Servigenics is the right choice! We also provide priority services to mechanics who wish to register on our site and be shown as first priority to customers!<br>
<br>
To avail our services follow the steps given below:<br>


                        1. On our home page you will come across a Login button, press it.<br>

                        2. If you haven't signed up as a user/ mechanic, click on the sign up link at the bottom.<br>

                        3. Fill in the relevant details and login to your newly formed account.<br>

                      4. Go to "Our Services" page and choose whichever service you wish to avail, purchase car parts or Consult a mechanic.<br>
                                    </div>

                           <a class="btn btn-primary "  href="/login" role="button">Login</a>
                  </div>


              </div>
            </div>
          </div>
<!-- SLIDE 2 About us-->
             <div class="slide" id="2">
          <div class="content fifth-content">

              <div class="container-fluid">

                  <div class="container col-md-6 clr" style="padding-left:20px;">
                       <p class="text-white display-3 fonts" style="font-size: 50px">About us</p><hr>
                       <div class="homealign">
                      <p class="fonts"><br>
                          Our aim at Servigenics is to ensure that even if you come across an obstacle in your path, the journey to your destination should be uninterrupted.
Staying true to our motto, we are at your service, always!
<br>
                    <br>Our Team:<br>

                    1. Sanjeevan Bapat <br>
                    2. Jay Mistry<br>
                    3. Isha Nalawade<br>
                    4. Rhutam Thakur <br>
                       </div>


                  </div>
                   <div class="container col-md-6">
                       <div class="logo">
              <img class="iconsize" src="{{url_for('static',filename='img/Home.jpeg')}}" width="60%" alt="">
          </div>
                        </div>
              </div>
            </div>
             </div>




            <!-- Slide 3 Conatct-->


          <div class="slide" id="3">
            <div class="content fifth-content">
                <div class="container-fluid" align="center">


                    <div class="col-md-12">
                        <div class="row">
                       <form method="post" action="/index">
                          <div class="col-sm-6" >

                            <div class="row">

                                <div class="col-md-12">
                                     <h3 style="color:white;" class="fonts ">Contact Us</h3><hr>
                                  <fieldset>
                                    <input id="fname" name="fname" type="text" class="form-control"  placeholder="Your full name..." required="">

                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                  <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                  </fieldset>
                                </div>
                                 <div class="col-md-12">
                                  <fieldset>
                                    <input name="MobileNo" type="tel" class="form-control" id="MobileNo" placeholder="1234567890" pattern="[0-9]{10}" required="">
                                  </fieldset>
                                </div>

                                <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="Description" rows="6" class="form-control" id="Description" placeholder="Description..." required=""></textarea>
                                  </fieldset>

                                </div>
                                <div class="col-sm-6">
                                  <fieldset>
                                    <input type="submit" id="form-submit21" class="btn">
                                  </fieldset>
                                </div>
                            </div>
                          </div>
                            </form>
                            <div class="col-sm-6">
                                <div class="col-sm-11 image" style="padding-top:'10px'">

                                    <img src="{{url_for('static',filename='img/cont.jpg')}}">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
          </div>
            </div>

<!-- LOGIN-->
<!--            <div class="slide" id="4">-->
<!--            <div class="content fifth-content">-->
<!--                <div class="container-fluid" align="center">-->



<!--                </div>-->
<!--            </div>-->
<!--          </div>-->



        </div>

        <div class="footer">
          <div class="content">

          </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static',filename='js/vendor/jquery-1.11.2.min.js')}}"><\/script>')</script>

    <script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static',filename='js/datepicker.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    <script type="text/javascript">
    $(document).ready(function() {



        // navigation click actions
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
}

    </script>
</body>
</html>